<section class='navbar'>

  <nav>
    <% if user_signed_in? %>
      <p>
        Hello <%= current_user.name %>
      </p>
      <% else %>
        <p>
          Hello Guest
        </p>
    <% end %>
  </nav>
  <nav>
    <% if user_signed_in? %>
      <p>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'button' %>
      </p>
    <% else %>
        <p>
          <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
        </p>
    <% end %>
  </nav>
</section>