<main class=''>
  <h1 class="text-red-500 text-2xl">Zik Budget App</h1>
  <button class='login'><%= link_to 'Log In', new_user_session_path %></button>
  <button class='signup'><%= link_to 'Sign Up', new_user_registration_path %></button>
</main>